@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

h1 {
	font-family: "Press Start 2P", system-ui;
	color: #f78528;
	text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black, 2px 2px black, -2px -2px black, 2px -2px black,
		-2px 2px black;
}

body {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url(./media/background.png);
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
}

.content-slide {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	position: relative;
}

.content-slide p {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.9rem;
}

.content-slide.active {
	opacity: 1;
}

.white {
	color: white;
}

.pointer {
	cursor: pointer;
}

.card-pic {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.orange {
	color: #f78528;
}

.archive {
	font-family: "Press Start 2P", system-ui;
}

.archive-sm {
	font-family: "Press Start 2P", system-ui;
	font-size: 0.75rem;
}

.border-orange {
	border: solid #f78528 3px;
	border-radius: 100px;
}

.border-card-orange {
	border: solid #f78528 3px;
	border-radius: 50px;
}

.border-pic-orange {
	border: solid #f78528 3px;
}

.border-pic2-orange {
	border: solid #f78528 3px;
	border-left: unset;
}

.carousel-img {
	width: 100%;
	object-fit: contain;
	aspect-ratio: 2/0.847;
}

button {
	border-style: none;
	background-color: transparent;
	padding: 10px;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.shadow {
	text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black,
		-1px 1px black;
}

@media screen and (min-width: 992px) {
	.bg-md-dark {
		background-color: #212529;
		color: #ffffff;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #f78528;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #d66100;
}

.scroll-container {
	max-height: 373px;
	overflow-y: auto;
}

textarea {
	width: 100%;
}
